body{
	font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
	font-size: 1em;
	margin: 0;
}

#menu {
	width: 100%;
	height: 2.4em;
	vertical-align: middle;
	background-color: #fff3e3;
	border: thin solid grey;
	position: fixed;
	top: 0;
	z-index: 1;
	overflow-x: auto;
	white-space: nowrap;
}
#menu>* {
	display: inline-block;
	padding: 0.5em;
	border-right: thin solid grey;
	height: 2.4em;
	box-sizing: border-box;
}
#content {
	margin-top: 2.5em;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}

iframe {
	width: 100%;
	height: 95vh;
	box-sizing: border-box;
	border: none;
}

input, textarea, button {
	font-size: inherit;
	font-family: inherit;
	border-radius: 0.2em 0.2em;
}
button, input[type=button], input[type=submit], input[type=radio], input[type=checkbox], label:has(input[type=radio], input[type=checkbox]) {
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=radio]:hover, input[type=checkbox]:hover {
	mix-blend-mode: multiply;
}
input[type="radio"], input[type="checkbox"] {
	width: 1em;
	height: 1em;
}

details {
	background: #cae2e6;
	border-radius: 0.3em 0.3em;
	border: thin solid #bcbcbc;
}
details > summary:first-of-type, details > summaryb {
	color: #0a4b56;
	background: #92c3cc;
	padding: 0.5em 0.4em;
	cursor: pointer;
	border-radius: 0.3em 0.3em;
	font-weight: bolder;
}
details[open] > summary:first-of-type {
	border-radius: 0.3em 0.3em 0 0;
	border-bottom: thin solid #bcbcbc;
}
details > summaryb {
	border-radius: 0 0 0.3em 0.3em;
	border-top: thin solid #bcbcbc;
	display: block;
}
details>summary:first-of-type:hover, details>summaryb:hover {
	mix-blend-mode: multiply;
}
details>.close-details {
	float: right;
	cursor: pointer;
	line-height: 1em;
}
details>.close-details:hover {
	mix-blend-mode: multiply;
}
details>.close-details::after {
	content: 'âŒ';
}

.pre{
	white-space: pre-wrap;
}
.pre-line{
	white-space: pre-line;
}
.space{
	margin-bottom: 1.1em;
}
.box,.box-x{
	padding-left: 1.1em;
	padding-right: 1.1em;
}
.box,.box-y{
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}
.mbox,.mbox-x{
	margin-left: 1.1em;
	margin-right: 1.1em;
}
.mbox,.mbox-y{
	margin-top: 1.1em;
	margin-bottom: 1.1em;
}
.inline{
	display: inline-block;
	vertical-align: top;
}
.block{
	display: block;
	width: 100%;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.flex>*{
	flex: auto;
	box-sizing: border-box;
}
.flex-2>*{
	flex: 1 1 50%;
}
.flex-3>*{
	flex: 1 1 33.33%;
}
.flex-4>*{
	flex: 1 1 25%;
}
.flex-5>*{
	flex: 1 1 20%;
}
.flex-6>*{
	flex: 1 1 16.66%;
}
.f-200{
	flex: 1 1 200px;
}
.f-400{
	flex: 1 1 400px;
}
f-600{
	flex: 1 1 600px;
}
.f-800{
	flex: 1 1 800px;
}
.f-auto{
	flex-grow: 0;
}
.unable{
	pointer-events: none;
	filter: opacity(40%);
}
table.table{
	border-collapse: collapse;
	margin-bottom: 1em;
}
table.table>*>*>* {
	border: 1px solid #000;
	padding: 4px;
}